@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  margin: 20px;
}

body * {
  font-family: 'Raleway', sans-serif;
}

button {
  font: 400 14px 'Raleway';
}
#root {
  display: flex;
  justify-content: center;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  font-size: 40px;
  text-align: center;
  margin-bottom: 10px;
}

.square {
  z-index: 1;
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 54px;
  font-weight: bold;
  line-height: 34px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;

  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.square.winner {
  background: green;
  border-color: #fff;
  color: #fff;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game-wrapper {
  display: flex;
  flex-direction: row;
}

.game {
}

.game-board {
  position: relative;
  z-index: 1;
  align-self: center;
}

.game-info {
  margin-left: 20px;
}

p.PActive {
  font-weight: bolder;
}

.clock {
  padding: 16px;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 3px;
  display: table;
  margin: 20px auto;
}

.clock p {
  text-align: center;
  font-size: 56px;
  font-weight: bolder;

  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

.clock p.helpText {
  font-size: 14px;
  text-transform: uppercase;
  margin: 8px 0;
}

.sideBar {
  z-index: 2;
  position: fixed;
  top: 25vh;
  right: 0;
  padding: 20px;
  background: #fff;
  border-radius: 3px 0 0 3px;
  box-shadow: -2px 0px 3px 3px rgba(0,0,0,0.1);

  visibility: hidden;
  opacity: 0;
  transform: translateX(50px);

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.sideBar.show {
  visibility: visible;
  opacity: 1;
  transform: translateX(0px); 
}

.sideBarToggle {
  background: #0AB2FF;
  padding: 5px 8px;
  color: #fff;
  border-radius: 3px;
  border-top: 2px solid #56CAFF;
  border-bottom: 2px solid #088ECC;
  display: block;
  margin: 20px auto;
}

.txt-reset {
  font-size: 12px;
}

.btn-reset {
  font-family: 'Raleway', sans-serif;
  background: transparent;
  border-radius: 3px;
  border: 2px solid #777;
}

.hidden {
  display: none;
}
